$color-primary: #0ebeff;
$color-secondary: #ffdd40;

$color-dark: #222;
$color-medium: #272727;
$color-light: #444;

$meter-height: 200px;
$meter-width: $meter-height * 2;

// $arc-rotate: 60deg;
$arc-transition: transform 800ms;

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  color: white;
  background: $color-dark;
}

.App {
  padding: 20px;
}

.Dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  min-width: 700px;
}

.Widget {
  flex-shrink: 0;

  width: 580px;
  height: 580px;
  margin: 20px;

  background: $color-medium;
  border-radius: 10px;
}

.Meter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.Meter__val {
  font-size: 80px;
}

.Meter__dial {
  position: relative;
  width: $meter-width;
  height: $meter-height;
  margin: 40px 0;
}

.Meter__arc-clip {
  width: $meter-width;
  height: $meter-height;
  overflow: hidden;
}

.Meter__arc {
  width: $meter-width;
  height: $meter-width;
  border: 20px solid;

  border-radius: 50%;
  border-color: $color-light;
  border-left-color: $color-primary;
  border-bottom-color: $color-primary;

  // transform: rotate(-45deg) rotate($arc-rotate);
  transition: $arc-transition;
  will-change: transform;
}

.Meter__needle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  width: 10px;
  height: $meter-height - 30px;
  margin: 0 auto;

  background: $color-secondary;

  // transform: rotate(-90deg) rotate($arc-rotate);
  transform-origin: bottom center;
  transition: $arc-transition;
  will-change: transform;
}

.Meter__needle-base {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;

  width: 30px;
  height: 30px;
  margin: 0 auto;

  background: $color-secondary;
  border-radius: 50%;
}

.Meter__min,
.Meter__max {
  position: absolute;
  font-size: 24px;
}

.Meter__min {
  bottom: -0.5em;
  right: 103%;
}

.Meter__max {
  bottom: -0.5em;
  left: 103%;
}
